<div data-section-id="{{ section.id }}" data-section-type="collection-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
	<!-- shop by cate-->
  <div class="collection-ver3">
      <div class="flex-group">
          <div class="flex-row">
              <a href="{{section.settings.b1_img_url}}" class="effect_img img-colect">
                  
                	<img {%if section.settings.b1_bg_img == blank%}src="{{'h4_colect1.jpg'| asset_url }}" 
                          	{%else%}
                      		src="{{section.settings.b1_bg_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                  <div class="colect-content v3">
                      <h3>{{section.settings.b1_text_1}}</h3>
                      <p>{{section.settings.b1_text_2}} <i>{{section.settings.b1_text_3}}</i></p>
                  </div>
              </a>
              <a href="{{section.settings.b2_img_url}}" class="hover-images flex-items">
                	<img {%if section.settings.b2_bg_img == blank%}src="{{'h4_colect2.jpg'| asset_url }}" 
                          	{%else%}
                      		src="{{section.settings.b2_bg_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
              </a>
          </div>
          <div class="flex-row">
              <a href="{{section.settings.b3_img_url}}" class="hover-images img-colect">
                	<img {%if section.settings.b3_bg_img == blank%}src="{{'h4_colect3.jpg'| asset_url }}" 
                          	{%else%}
                      		src="{{section.settings.b3_bg_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                  <div class="colect-content vertical-text">
                      <h3>{{section.settings.b3_text}}</h3>
                  </div>
              </a>
              <a href="{{section.settings.b4_img_url}}" class="effect_img img-colect">
                <img {%if section.settings.b4_bg_img == blank%}src="{{'h4_colect4.jpg'| asset_url }}" 
                          	{%else%}
                      		src="{{section.settings.b4_bg_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                  <div class="colect-content v4">
                      <h3>{{section.settings.b4_text}}</h3>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <!-- end shopbycate-->
</div>
{% schema %}
{
  "name": "Collection v4",
  "class": "index-section",
  "settings": [
  {
    "type": "header",
    "content": "Section Space"
  },
  {
    "type": "text",
    "id": "margin_top",
    "label": "Margin Top",
    "info": "Defined in pixels. Do not add the 'px' unit."
  },
  {
    "type": "text",
    "id": "margin_bottom",
    "label": "Margin Bottom",
    "info": "Defined in pixels. Do not add the 'px' unit."
  },
  {
    "type": "header",
    "content": "Block 1"
  },
  {
    "type": "header",
    "content": "Image 1"
  },
  {
    "type": "image_picker",
    "id": "b1_bg_img",
    "label": "Image",
    "info": "775x800px recommended"
  },
  {
    "id": "b1_img_url",
    "type": "url",
    "default": "/collections/all",
    "label": "Image link"
  },
  {
    "type": "header",
    "content": "Title 1"
  },
  {
    "type": "text",
    "id": "b1_text_1",
    "label": "Text 1",
    "default": "PARADISE FOUND"
  },
  {
    "type": "header",
    "content": "Title 2"
  },
  {
    "type": "text",
    "id": "b1_text_2",
    "label": "Text 2",
    "default": "first the packing, then the"
  },
  {
    "type": "header",
    "content": "Title 3"
  },
  {
    "type": "text",
    "id": "b1_text_3",
    "label": "Text 3",
    "default": "bliss"
  },
  {
    "type": "header",
    "content": "Block 2"
  },
  {
    "type": "header",
    "content": "Image 2"
  },
  {
    "type": "image_picker",
    "id": "b2_bg_img",
    "label": "Image",
    "info": "1145x713px recommended"
  },
  {
    "id": "b2_img_url",
    "type": "url",
    "default": "/collections/all",
    "label": "Image link"
  },
  {
    "type": "header",
    "content": "Block 3"
  },
  {
    "type": "header",
    "content": "Image 3"
  },
  {
    "type": "image_picker",
    "id": "b3_bg_img",
    "label": "Image",
    "info": "1345x870px recommended"
  },
  {
    "id": "b3_img_url",
    "type": "url",
    "default": "/collections/all",
    "label": "Image link"
  },
  {
    "type": "header",
    "content": "Title 1"
  },
  {
    "type": "text",
    "id": "b3_text",
    "label": "Text",
    "default": "accessories"
  },
  {
    "type": "header",
    "content": "Block 4"
  },
  {
    "type": "header",
    "content": "Image 4"
  },
  {
    "type": "image_picker",
    "id": "b4_bg_img",
    "label": "Image",
    "info": "575x870px recommended"
  },
  {
    "id": "b4_img_url",
    "type": "url",
    "default": "/collections/all",
    "label": "Image link"
  },
  {
    "type": "header",
    "content": "Title 1"
  },
  {
    "type": "text",
    "id": "b4_text",
    "label": "Text",
    "default": "Day dresses"
  }
],
  "presets": [
    {
      "name": "Collection v4",
      "category": "Collection"
    }
  ]
}
{% endschema %}