<div class="about">
    <div class="about-top text-center">
        <h3 class="about-heading v-color1">{{section.settings.abus_si_title_1}}</h3>
        <h3 class="about-heading v2">{{section.settings.abus_si_title_2}}</h3>
        <h4 class="about-heading v3">{{section.settings.abus_si_title_3}}</h4>
    </div>
    <div class="container">
        <div class="about-top-img text-center">
          	<a href="" class="hover-images">
          
              <img {%if section.settings.abus_about_image_1 == blank%}src="{{'about1.png'| asset_url }}" 
                                {%else%}
                                src="{{section.settings.abus_about_image_1 | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
            </a>
            <div class="about-img">
              	<a href="" class="hover-images">
          
                  <img {%if section.settings.abus_about_image_2 == blank%}src="{{'about2.jpg'| asset_url }}" 
                                    {%else%}
                                    src="{{section.settings.abus_about_image_2 | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                </a>
                <div class="about-title"><h3 class="v-color1">{{section.settings.abus_about_title}}</h3></div>
            </div>
        </div>
        <div class="about-content">
            <h3>{{section.settings.abus_about_content_title}}</h3>
            <div class="about-content-detail">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 first-column">
                        <h3 class="icon-text">{{section.settings.abus_about_icon}}</h3>
                        <p>{{section.settings.abus_about_content_1}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <p>{{section.settings.abus_about_content_2}}</p>
                    </div>
                </div>
            </div>
            <div class="about-quote text-center">
                <p>{{section.settings.abus_about_content_3}} </p>
            </div>
        </div>
        <div class="about-author">
            <div class="intro">
                <h3 class="v-color1">{{section.settings.abus_team_title1}}</h3>
                <h3 class="v-color1">{{section.settings.abus_team_title2}}</h3>
                <p>{{section.settings.abus_team_desc}}</p>
            </div>
            <div class="author">
                <div class="row">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == 'team' %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-center author-item">
                        <div class="author-img">
                          <img {%if block.settings.team_image == blank%}src="{{'author1.jpg'| asset_url }}" 
                              {%else%}
                              src="{{block.settings.team_image | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
               
                            <div class="box-content-center author-text overlay-img">
                                <p>{{block.settings.team_info}}</p>
                            </div>
                        </div>
                        <div class="author-profile">
                            <h3 class="name">{{block.settings.team_name}}</h3>
                            <p class="carer">{{block.settings.team_career}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="author-quote text-center">
                <div class="owl-carousel owl-theme js-owl-quote">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == 'quote' %}
                    <div class="item-quote">
                            <p>{{block.settings.quote_text}}</p>
                        <div class="author-quote-img">
                          	<img {%if block.settings.quote_image == blank%}src="{{'author-carousel.jpg'| asset_url }}" 
                              {%else%}
                              src="{{block.settings.quote_image | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="about-brand text-center">
            <h3 class="v-color1">{{section.settings.abus_br_title}}</h3>
            <div class="row">
                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                {% if block.type == 'brandver1' %}
                <div class="col-xs-6 col-sm-4 col-md-2 brand-item">
                    <a href="" class="hover-images">
                      <img {%if block.settings.brand_image_ver1 == blank%}src="{{'brand_1.png'| asset_url }}" 
                              {%else%}
                              src="{{block.settings.brand_image_ver1 | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                  	</a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="brand-3item">
                <div class="row">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == 'brandver2' %}
                    <div class="col-xs-6 col-sm-4 col-md-4 brand-item">
                        <a href="" class="hover-images">
                          <img {%if block.settings.brand_image_ver2 == blank%}src="{{'brand_1.png'| asset_url }}" 
                              {%else%}
                              src="{{block.settings.brand_image_ver2 | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />
                      	</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <a href="{{section.settings.abus_brand_url}}" class="btn-view-brand">{{section.settings.abus_br_btn}} <i class="ion-ios-arrow-right"></i></a>
        </div>
    </div>
</div>
<!--end our teams-->

{% schema %}
{
  "name": "Page About Shop",
  "settings": [
	{
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "text",
      "id": "abus_si_title_1",
      "label": "Title 1",
      "default": "A SPECTACULAR EVENT"
    },
    {
      "type": "text",
      "id": "abus_si_title_2",
      "label": "Title 2",
      "default": "DOESN’T COME FROM ONE PERSON"
    },
	{
      "type": "text",
      "id": "abus_si_title_3",
      "label": "Title 3",
      "default": "BUT MANY"
    },
    {
      "type": "header",
      "content": "Section About"
    },
    {
      "type": "image_picker",
      "id": "abus_about_image_1",
      "label": "Image 1"
    },
	{
      "type": "image_picker",
      "id": "abus_about_image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "abus_about_title",
      "label": "Title About",
      "default": "About  Marriage Vows"
    },
    {
      "type": "text",
      "id": "abus_about_content_title",
      "label": "Title Content",
      "default": "The secret Ingredient"
    },
    {
      "type": "text",
      "id": "abus_about_icon",
      "label": "Icon Text",
		"default":"T"
    },
	{
      "type": "text",
      "id": "abus_about_content_1",
      "label": "About content 1",
      "default": "he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and an trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through a weakness of will, which is the same as saying ath"
    },
    {
      "type": "text",
      "id": "abus_about_content_2",
      "label": "About content 2",
      "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, It is a long established fact that a reader will be dis"
    },
    {
      "type": "text",
      "id": "abus_about_content_3",
      "label": "About content 3",
      "default": "“We strive to work closely together with our customers in solving their problems Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”"
    },
	{
      "type": "header",
      "content": "Section Team"
    },
    {
      "type": "text",
      "id": "abus_team_title1",
      "label": "Title Team 1",
      "default": "Our Family"
    },
    {
      "type": "text",
      "id": "abus_team_title2",
      "label": "Title Team 2",
      "default": "Meet team Marriage Vows"
    },
	{
      "type": "text",
      "id": "abus_team_desc",
      "label": "Description",
      "default": "Meet the team of people who work with marriage to make these extraordinary events possible. With decades of industry experience and a vast wealth of knowledge, they are among the most talented in the world sharing their blood,"
    },
    {
      "type": "header",
      "content": "Section Brand"
    },
    {
      "type": "text",
      "id": "abus_br_title",
      "label": "Title",
      "default": "Press <br>Publications"
    },
	{
      "type": "text",
      "id": "abus_br_btn",
      "label": "Button",
      "default": "VIEW ALL PUBLICATIONS"
    },
    {
      "type": "url",
      "id": "abus_brand_url",
      "label": "URL"
    }
  ],
  "blocks": [
    {
      "type": "team",
      "name": "Team image",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "team_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "team_name",
          "label": "name",
          "default": "Engotheme"
        },
        {
          "type": "text",
          "id": "team_career",
          "label": "Career",
          "default": "Engotheme"
        },
        {
          "type": "text",
          "id": "team_info",
          "label": "Information",
          "default": "Naughty jokester whimsical visionary Sketch master"
        }
      ]
    },
    {
      "type": "quote",
      "name": "quote image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "quote_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "quote_text",
          "label": "content",
          "default": "We help you plan the best for your dreams, Opportunities don't happen. You create them! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor "
        }
      ]
    },
    {
      "type": "brandver1",
      "name": "Brand image top",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_image_ver1",
          "label": "Image"
        }
      ]
    },
    {
      "type": "brandver2",
      "name": "Brand image bottom",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_image_ver2",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page About Shop",
      "blocks": [
      {
        "type": "team",
        "settings": {
        }
      },
      {
        "type": "quote",
        "settings": {
        }
      },
      {
        "type": "brandver1",
        "settings": {
        }
      },	
		{
          "type": "brandver2",
          "settings": {
          }
      	}
		]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

